<%- title("My Account") %>
<h1>My Account</h1>
<table class="table table-bordered">
  <tr>
    <th>Email address</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= link_to "Change Password", edit_user_path(@user), class: 'btn-sm btn-primary' %></td>
  </tr>
</table>
